.chess-board {
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    position: relative;

    &__part-1,
    &__part-2 {
        background-size: cover;
        background-position: center;
        height: 35rem;
        width: 70rem;
        opacity: 0;

        @include respond(600) {
            height: 30rem;
            width: 60rem;
        }
    }

    &__part-1 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-image: url(../../assets/figures/board/part-1.png);
        animation: slideToBottom 2s ease 0.5s forwards;
    }
    &__part-2 {
        background-image: url(../../assets/figures/board/part-2.png);
        animation: slideToTop 2s ease 0.5s forwards;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    &__cell-container {
        @include flexColumnCenter;
        position: absolute;
        top: 2.8rem;
        left: 2.8rem;
        @include respond(600) {
            top: 2.2rem;
            left: 2.2rem;
        }
    }

    &__row {
        display: flex;
    }

    &__cell {
        position: relative;
        cursor: pointer;
        transition: 0.2s;
        height: 7.85rem;
        width: 7.85rem;
        border-radius: 15%;
        margin: 0.1rem;

        @include respond(600) {
            height: 6.7rem;
            width: 6.7rem;
            cursor: default;
        }

        &-figure {
            @include absoluteCenter;
            top: 0;
            opacity: 1 !important;
        }
    }
}
