.chess-figure {
    cursor: pointer;
    justify-self: center;
    height: 11rem;
    width: 6.5rem;
    transition: 0.2s linear;
}

.chess-figure--10 {
    background-image: url(../../assets/figures/king-white.png);
}
.chess-figure--20 {
    background-image: url(../../assets/figures/queen.png);
}
.chess-figure--30 {
    background-image: url(../../assets/figures/horse.png);
}
.chess-figure--40 {
    background-image: url(../../assets/figures/elph.png);
}
.chess-figure--50 {
    background-image: url(../../assets/figures/king-black.png);
}
